<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

	<!-- Entity manager persistence -->
	<bean id="emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="DesafioLecomPU" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter" ref="hibernateVendor" />
		<property name="packagesToScan">
			<list>
				<value>br.com.ebdes.desafiolecom.entidades</value>
			</list>
		</property>
	</bean>
	<bean id="hibernateVendor"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="showSql" value="true" />
		<property name="generateDdl" value="true" />
		<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"/>
		<property name="database" value="MYSQL"/>
	</bean>
	
	<!-- Hibernate Session Factory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<array>
				<value>br.com.ebdes.desafiolecom.entidades.Cliente</value>
				<value>br.com.ebdes.desafiolecom.entidades.Servico</value>
				<value>br.com.ebdes.desafiolecom.entidades.OrdemServico</value>
			</array>
		</property>		
	</bean>
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1/desafioLecom" />
		<property name="username" value="root" />
		<property name="password" value="4g5b" />
	</bean>
	
	<!-- gerenciador de Transaçao -->
	<tx:advice transaction-manager="transactionManager" id="txAdvice">
		<tx:attributes>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<tx:annotation-driven/>
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* br.com.ebdes.desafiolecom.dao.impl.EM*.*(..) )" />
	</aop:config>
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- transaction manager of entity manager jpa 
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf" />
	</bean>
	 -->

</beans>
